In [1]:
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np
import datetime

In [2]:
file_path = r'C:\Users\infop\OneDrive\Desktop\ML_lab screenshots\FAA_licensed_launches.csv'
FAA_df=pd.read_csv(file_path)
print(len(FAA_df))
FAA_df

227

,Date (UTC),Payload,Vehicle,Company,Site
0,2014-08-22,NaN,Falcon 9-R,Space Exploration Technologies Corporation,TX
1,2014-08-01,NaN,Falcon 9-R,Space Exploration Technologies Corporation,TX
2,2014-06-17,none,Falcon 9-R,Space Exploration Technologies Corporation,TX
3,2014-05-01,NaN,Falcon 9-R,Space Exploration Technologies Corporation,TX
4,2014-04-17,NaN,Falcon 9-R,Space Exploration Technologies Corporation,TX
...,...,...,...,...,...
222,2013-03-01,DragonReentryCapsule,Falcon 9,Space Exploration Technologies Corporation,FL
223,2012-10-07,DragonReentryCapsule,Falcon 9,Space Exploration Technologies Corporation,FL
224,2012-05-22,DragonReentryCapsule,Falcon 9,Space Exploration Technologies Corporation,FL
225,2010-12-08,DragonReentryCapsule,Falcon 9,Space Exploration Technologies Corporation,FL
226,2010-06-04,DragonReentryCapsule,Falcon 9,Space Exploration Technologies Corporation,FL

In [3]:
FAA_df[FAA_df['Date (UTC)'] <= '2022-10-05']

,Date (UTC),Payload,Vehicle,Company,Site
0,2014-08-22,NaN,Falcon 9-R,Space Exploration Technologies Corporation,TX
1,2014-08-01,NaN,Falcon 9-R,Space Exploration Technologies Corporation,TX
2,2014-06-17,none,Falcon 9-R,Space Exploration Technologies Corporation,TX
3,2014-05-01,NaN,Falcon 9-R,Space Exploration Technologies Corporation,TX
4,2014-04-17,NaN,Falcon 9-R,Space Exploration Technologies Corporation,TX
...,...,...,...,...,...
222,2013-03-01,DragonReentryCapsule,Falcon 9,Space Exploration Technologies Corporation,FL
223,2012-10-07,DragonReentryCapsule,Falcon 9,Space Exploration Technologies Corporation,FL
224,2012-05-22,DragonReentryCapsule,Falcon 9,Space Exploration Technologies Corporation,FL
225,2010-12-08,DragonReentryCapsule,Falcon 9,Space Exploration Technologies Corporation,FL
226,2010-06-04,DragonReentryCapsule,Falcon 9,Space Exploration Technologies Corporation,FL

In [4]:
#there are no duplicate rows in FAA set

In [5]:
file_path = r'C:\Users\infop\OneDrive\Desktop\ML_lab screenshots\falcon9_launch_location_final_update.csv'
location_df=pd.read_csv(file_path)
print(len(location_df))
location_df

168

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,6,2010-06-04,Falcon 9,NaN,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,8,2012-05-22,Falcon 9,525.0,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,10,2013-03-01,Falcon 9,677.0,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,11,2013-09-29,Falcon 9,500.0,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,12,2013-12-03,Falcon 9,3170.0,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,181,2022-08-28,Falcon 9,13260.0,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3033383ecb075134e7cd,5.0,1,B1069,-80.603956,28.608058,1
164,182,2022-08-31,Falcon 9,13260.0,VLEO,VAFB SLC 4E,True ASDS,7,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,6,B1063,-120.610829,34.632093,1
165,185,2022-09-17,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True ASDS,6,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,5,B1067,-80.577366,28.561857,1
166,186,2022-09-24,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True ASDS,4,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,0,B1072,-80.577366,28.561857,1
167,187,2022-10-05,Falcon 9,NaN,ISS,KSC LC 39A,True ASDS,1,True,False,True,5e9e3033383ecbb9e534e7cc,5.0,0,B1077,-80.603956,28.608058,1

In [6]:
location_df['Date'].max()

'2022-10-05'

In [7]:
file_path = r'C:\Users\infop\OneDrive\Desktop\ML_lab screenshots\spacex_web_scraped_final_update.csv'
client_df=pd.read_csv(file_path)
print(len(client_df))
client_df.tail()

239

,Date,Time,Payload,Payload mass,Customer,Version Booster,Booster landing,Class_verification,FlightNumber
234,2023-06-23,15:35,Starlink Group 5-12,"~17,400 kg",SpaceX,F9 B5,Success,1,235
235,2023-07-01,15:12,Euclid,"~2,160 kg",ESA,F9 B5,Success,1,236
236,2023-07-07,19:29,Starlink Group 5-13,"~14,900 kg",SpaceX,F9 B5B1063.12,Success,1,237
237,2023-07-10,03:58,Starlink Group 6-5,"~17,600 kg",SpaceX,F9 B5,Success,1,238
238,2023-07-16,03:50,Starlink Group 5-15,"~16,700 kg",SpaceX,F9 B5B1060.16,Success,1,239

In [8]:
client_df['Date'].max()

'2023-07-16'

In [9]:
#get only dates that are also in API data
client_df = client_df[client_df['Date'] <= '2022-10-05']

In [10]:
len(client_df)

179

In [11]:
combined_df= pd.merge(location_df, client_df, how= 'left', left_on = 'Date', right_on='Date')
inner_combined_df= pd.merge(location_df, client_df, how= 'inner', left_on = 'Date', right_on='Date')
len(combined_df)

169

In [12]:
len(inner_combined_df)

163

In [13]:
#combined data inner merged with FAA data
test_df= pd.merge(FAA_df, combined_df, how= 'inner', left_on = 'Date (UTC)', right_on='Date')
len(test_df)

133

In [14]:
#Wiki data inner merged with FAA data 
test2_df= pd.merge(FAA_df, client_df, how= 'inner', left_on = 'Date (UTC)', right_on='Date')
len(test2_df)

141

In [15]:
#API data inner merged with FAA data
test3_df= pd.merge(FAA_df, location_df, how= 'inner', left_on = 'Date (UTC)', right_on='Date')
len(test3_df)

131

In [16]:
#there is one extra row because there were two launches on 2022-10-05
combined_df

,FlightNumber_x,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,...,Latitude,Class,Time,Payload,Payload mass,Customer,Version Booster,Booster landing,Class_verification,FlightNumber_y
0,6,2010-06-04,Falcon 9,NaN,LEO,CCSFS SLC 40,None None,1,False,False,...,28.561857,0,18:45,Dragon Spacecraft Qualification Unit,N,SpaceX,F9 v1.0,Failure,0.0,1.0
1,8,2012-05-22,Falcon 9,525.0,LEO,CCSFS SLC 40,None None,1,False,False,...,28.561857,0,07:44,SpaceX COTS Demo Flight 2,525 kg,NASA,F9 v1.0,No attempt\n,0.0,3.0
2,10,2013-03-01,Falcon 9,677.0,ISS,CCSFS SLC 40,None None,1,False,False,...,28.561857,0,15:10,SpaceX CRS-2,"4,877 kg",NASA,F9 v1.0,No attempt\n,0.0,5.0
3,11,2013-09-29,Falcon 9,500.0,PO,VAFB SLC 4E,False Ocean,1,False,False,...,34.632093,0,16:00,CASSIOPE,500 kg,MDA,F9 v1.1,Uncontrolled,0.0,6.0
4,12,2013-12-03,Falcon 9,3170.0,GTO,CCSFS SLC 40,None None,1,False,False,...,28.561857,0,22:41,SES-8,"3,170 kg",SES,F9 v1.1,No attempt,0.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,182,2022-08-31,Falcon 9,13260.0,VLEO,VAFB SLC 4E,True ASDS,7,True,True,...,34.632093,1,05:40,Starlink Group 3-4,"~14,200 kg",SpaceX,F9 B5,Success,1.0,173.0
165,185,2022-09-17,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True ASDS,6,True,True,...,28.561857,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,186,2022-09-24,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True ASDS,4,True,True,...,28.561857,1,23:32,Starlink Group 4-35,"~16,100 kg",SpaceX,F9 B5B1073.4,Success,1.0,177.0
167,187,2022-10-05,Falcon 9,NaN,ISS,KSC LC 39A,True ASDS,1,True,False,...,28.608058,1,16:00,Crew-5,"~13,000 kg",NASA,F9 B5,Success,1.0,178.0
168,187,2022-10-05,Falcon 9,NaN,ISS,KSC LC 39A,True ASDS,1,True,False,...,28.608058,1,23:10,Starlink Group 4-29,"~16,100 kg",SpaceX,F9 B5,Success,1.0,179.0

In [17]:
combined_df.isnull().sum()

FlightNumber_x         0
Date                   0
BoosterVersion         0
PayloadMass           23
Orbit                  0
LaunchSite             0
Outcome                0
Flights                0
GridFins               0
Reused                 0
Legs                   0
LandingPad            26
Block                  0
ReusedCount            0
Serial                 0
Longitude              0
Latitude               0
Class                  0
Time                   6
Payload               11
Payload mass           6
Customer               7
Version Booster        6
Booster landing        6
Class_verification     6
FlightNumber_y         6
dtype: int64

In [18]:
combined_df[combined_df.duplicated()]

Empty DataFrame
Columns: [FlightNumber_x, Date, BoosterVersion, PayloadMass, Orbit, LaunchSite, Outcome, Flights, GridFins, Reused, Legs, LandingPad, Block, ReusedCount, Serial, Longitude, Latitude, Class, Time, Payload, Payload mass, Customer, Version Booster, Booster landing, Class_verification, FlightNumber_y]
Index: []

[0 rows x 26 columns]

In [19]:
#average the missing values for payload mass and PayloadMass
# Calculate the mean value of PayloadMass column
mean=combined_df['PayloadMass'].mean()
# Replace the np.nan values with its mean value
combined_df['PayloadMass'].replace(np.nan,mean, inplace=True)
combined_df['PayloadMass']= combined_df['PayloadMass'].astype(int)

In [20]:
combined_df['Payload mass'].unique()

array(['N', '525 kg', '4,877 kg', '500 kg', '3,170 kg', '3,325 kg',
       '2,296 kg', '1,316 kg', '4,535 kg', '4,428 kg', '2,216 kg',
       '2,395 kg', '570 kg', '1,898 kg', '4,707 kg', '1,952 kg',
       '2,034 kg', '553 kg', '5,271 kg', '3,136 kg', '4,696 kg',
       '3,100 kg', '2,257 kg', '4,600 kg', nan, '9,600 kg', '2,490 kg',
       '5,600 kg', '5,300 kg', 'C', '6,070 kg', '2,708 kg', '3,669 kg',
       '6,761 kg', '3,310 kg', '475 kg', '4,990 kg', '5,400 kg',
       '3,500 kg', '2,205 kg', '4,230 kg', '6,092 kg', '2,647 kg',
       '362 kg', '3,600 kg', '5,384 kg', '2,697 kg', '7,075 kg',
       '5,800 kg', '7,060 kg', '3,000 kg', '~4,000 kg', '2,500 kg',
       '4,400 kg', '12,055 kg', '2,495 kg', '13,620 kg', '4,200 kg',
       '2,268 kg', '6,500 kg', '15,600 kg', '2,617 kg', '6,956 kg',
       '12,050 kg', '1,977 kg', '12,530 kg', '15,410 kg', '4,311 kg',
       '5,000â€“6,000 kg', '~15,440 kg', '3,130 kg', '~12,500 kg',
       '1,192 kg', '2,972 kg', '7,000 kg', '~5,000 kg', '~13,000 kg',
       '3,328 kg', '4,331 kg', 'U', '~2,200 kg', '~13,260 kg',
       '~12,519 kg', '~15,635 kg', '624 kg', '325 kg', '4,500 kg',
       '2,989 kg', '~14,500 kg', '~13,600 kg', '~14,750 kg', '~13,900 kg',
       '~14,160 kg', '~16,250 kg', '~4,100 kg', '~700 kg', '~3,500 kg',
       '~14,100 kg', '2,668 kg', '~679 kg', '~16,700 kg', '~14,200 kg',
       '~16,100 kg'], dtype=object)

In [21]:
def parse_payload_mass(x):
    try:
        
        split_string = x.split()[0]
        if len(split_string) ==1:
            return np.nan
        else:
            number = ''.join(char for char in split_string if char.isnumeric())
            if len(number) > 5:
                return 5500 #because there was one instance of a range, and return the average of the range
            else:
                int_number = int(number)
                return int_number
        
    except:
        
        return np.nan

In [22]:
combined_df['Payload mass'] = combined_df['Payload mass'].apply(lambda x: parse_payload_mass(x))

In [23]:
combined_df

,FlightNumber_x,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,...,Latitude,Class,Time,Payload,Payload mass,Customer,Version Booster,Booster landing,Class_verification,FlightNumber_y
0,6,2010-06-04,Falcon 9,8191,LEO,CCSFS SLC 40,None None,1,False,False,...,28.561857,0,18:45,Dragon Spacecraft Qualification Unit,NaN,SpaceX,F9 v1.0,Failure,0.0,1.0
1,8,2012-05-22,Falcon 9,525,LEO,CCSFS SLC 40,None None,1,False,False,...,28.561857,0,07:44,SpaceX COTS Demo Flight 2,525.0,NASA,F9 v1.0,No attempt\n,0.0,3.0
2,10,2013-03-01,Falcon 9,677,ISS,CCSFS SLC 40,None None,1,False,False,...,28.561857,0,15:10,SpaceX CRS-2,4877.0,NASA,F9 v1.0,No attempt\n,0.0,5.0
3,11,2013-09-29,Falcon 9,500,PO,VAFB SLC 4E,False Ocean,1,False,False,...,34.632093,0,16:00,CASSIOPE,500.0,MDA,F9 v1.1,Uncontrolled,0.0,6.0
4,12,2013-12-03,Falcon 9,3170,GTO,CCSFS SLC 40,None None,1,False,False,...,28.561857,0,22:41,SES-8,3170.0,SES,F9 v1.1,No attempt,0.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,182,2022-08-31,Falcon 9,13260,VLEO,VAFB SLC 4E,True ASDS,7,True,True,...,34.632093,1,05:40,Starlink Group 3-4,14200.0,SpaceX,F9 B5,Success,1.0,173.0
165,185,2022-09-17,Falcon 9,13260,VLEO,CCSFS SLC 40,True ASDS,6,True,True,...,28.561857,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,186,2022-09-24,Falcon 9,13260,VLEO,CCSFS SLC 40,True ASDS,4,True,True,...,28.561857,1,23:32,Starlink Group 4-35,16100.0,SpaceX,F9 B5B1073.4,Success,1.0,177.0
167,187,2022-10-05,Falcon 9,8191,ISS,KSC LC 39A,True ASDS,1,True,False,...,28.608058,1,16:00,Crew-5,13000.0,NASA,F9 B5,Success,1.0,178.0
168,187,2022-10-05,Falcon 9,8191,ISS,KSC LC 39A,True ASDS,1,True,False,...,28.608058,1,23:10,Starlink Group 4-29,16100.0,SpaceX,F9 B5,Success,1.0,179.0

In [24]:
combined_df[combined_df['Payload mass'].isnull()]

,FlightNumber_x,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,...,Latitude,Class,Time,Payload,Payload mass,Customer,Version Booster,Booster landing,Class_verification,FlightNumber_y
0,6,2010-06-04,Falcon 9,8191,LEO,CCSFS SLC 40,None None,1,False,False,...,28.561857,0,18:45,Dragon Spacecraft Qualification Unit,NaN,SpaceX,F9 v1.0,Failure,0.0,1.0
24,34,2016-09-01,Falcon 9,5500,GTO,CCSFS SLC 40,None ASDS,1,True,False,...,28.561857,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,39,2017-05-01,Falcon 9,8191,LEO,KSC LC 39A,True RTLS,1,True,False,...,28.608058,1,11:15,NROL-76,NaN,NRO,F9 FTB1032.1,Success,1.0,33.0
43,53,2018-01-08,Falcon 9,8191,LEO,CCSFS SLC 40,True RTLS,1,True,False,...,28.561857,1,01:00,Zuma,NaN,Northrop Grumman,F9 B4,Success,1.0,47.0
95,112,2020-12-19,Falcon 9,8191,LEO,KSC LC 39A,True RTLS,5,True,True,...,28.608058,1,14:00:00,NROL-108,NaN,NRO,F9 B5,Success,1.0,103.0
114,132,2021-06-30,Falcon 9,8191,SSO,CCSFS SLC 40,True RTLS,8,True,True,...,28.561857,1,19:31,NaN,NaN,Various,F9 B5,Success,1.0,123.0
121,139,2021-12-01,Falcon 9,13260,PO,CCSFS SLC 40,True ASDS,9,True,True,...,28.561857,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,145,2022-01-13,Falcon 9,8191,LEO,CCSFS SLC 40,True RTLS,10,True,True,...,28.561857,1,15:25:38,NaN,NaN,Various,F9 B5,Success,1.0,136.0
130,148,2022-02-02,Falcon 9,8191,LEO,VAFB SLC 4E,True RTLS,1,True,False,...,34.632093,1,20:27,NROL-87,NaN,NRO,F9 B5,Success,1.0,139.0
137,155,2022-04-01,Falcon 9,8191,SSO,CCSFS SLC 40,True ASDS,7,True,True,...,28.561857,1,16:24,NaN,NaN,Various,F9 B5,Success,1.0,146.0
139,157,2022-04-17,Falcon 9,8191,LEO,VAFB SLC 4E,True RTLS,2,True,True,...,34.632093,1,13:13:12,NROL-85,NaN,NRO,F9 B5,Success,1.0,148.0
147,165,2022-05-25,Falcon 9,8191,SSO,CCSFS SLC 40,True RTLS,8,True,True,...,28.561857,1,18:35,NaN,NaN,Various,F9 B5B1061.8,Success,1.0,156.0
149,167,2022-06-01,Falcon 9,13260,VLEO,KSC LC 39A,True ASDS,13,True,True,...,28.608058,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,175,2022-07-21,Falcon 9,13260,VLEO,VAFB SLC 4E,True ASDS,4,True,True,...,34.632093,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,178,2022-08-09,Falcon 9,13260,VLEO,KSC LC 39A,True ASDS,3,True,True,...,28.608058,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,185,2022-09-17,Falcon 9,13260,VLEO,CCSFS SLC 40,True ASDS,6,True,True,...,28.561857,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
mean = combined_df['Payload mass'].mean()

In [26]:
combined_df['Payload mass'].replace(np.nan,mean, inplace=True)

In [27]:
combined_df['PayloadError'] = abs(combined_df['PayloadMass'] - combined_df['Payload mass'])

In [28]:
mean = combined_df['PayloadError'].mean()
print(f'The average absolute Payload mass error is: {mean}')

The average absolute Payload mass error is: 1027.6331360946745

In [29]:
combined_df = combined_df[['FlightNumber_x', 'Date', 'Customer', 'BoosterVersion', 'Version Booster','Payload', 'PayloadMass', 'LaunchSite', 'Orbit','Flights', 'ReusedCount', 'Reused', 'GridFins', 'Legs', 'Longitude', 'Latitude', 'Outcome', 'Booster landing', 'Class_verification', 'Class']]

In [30]:
combined_df.isnull().sum()

FlightNumber_x         0
Date                   0
Customer               7
BoosterVersion         0
Version Booster        6
Payload               11
PayloadMass            0
LaunchSite             0
Orbit                  0
Flights                0
ReusedCount            0
Reused                 0
GridFins               0
Legs                   0
Longitude              0
Latitude               0
Outcome                0
Booster landing        6
Class_verification     6
Class                  0
dtype: int64

In [31]:
#focus on investigating where these nulls are coming from, and look the launch details up to fix them
all_nan = combined_df[combined_df.isna().any(axis=1)]
all_nan

,FlightNumber_x,Date,Customer,BoosterVersion,Version Booster,Payload,PayloadMass,LaunchSite,Orbit,Flights,ReusedCount,Reused,GridFins,Legs,Longitude,Latitude,Outcome,Booster landing,Class_verification,Class
14,23,2015-04-27,NaN,Falcon 9,F9 v1.1B1016,TÃ¼rkmenÃ„lem 52Â°E / MonacoSAT,4707,CCSFS SLC 40,GTO,1,0,False,False,False,-80.577366,28.561857,None None,No attempt,0.0,0
24,34,2016-09-01,NaN,Falcon 9,NaN,NaN,5500,CCSFS SLC 40,GTO,1,0,False,True,True,-80.577366,28.561857,None ASDS,NaN,NaN,0
98,115,2021-01-24,Various,Falcon 9,F9 B5B1058.5,NaN,8191,CCSFS SLC 40,SSO,5,13,True,True,True,-80.577366,28.561857,True ASDS,Success,1.0,1
114,132,2021-06-30,Various,Falcon 9,F9 B5,NaN,8191,CCSFS SLC 40,SSO,8,12,True,True,True,-80.577366,28.561857,True RTLS,Success,1.0,1
121,139,2021-12-01,NaN,Falcon 9,NaN,NaN,13260,CCSFS SLC 40,PO,9,12,True,True,True,-80.577366,28.561857,True ASDS,NaN,NaN,1
127,145,2022-01-13,Various,Falcon 9,F9 B5,NaN,8191,CCSFS SLC 40,LEO,10,13,True,True,True,-80.577366,28.561857,True RTLS,Success,1.0,1
137,155,2022-04-01,Various,Falcon 9,F9 B5,NaN,8191,CCSFS SLC 40,SSO,7,9,True,True,True,-80.577366,28.561857,True ASDS,Success,1.0,1
147,165,2022-05-25,Various,Falcon 9,F9 B5B1061.8,NaN,8191,CCSFS SLC 40,SSO,8,9,True,True,True,-80.577366,28.561857,True RTLS,Success,1.0,1
149,167,2022-06-01,NaN,Falcon 9,NaN,NaN,13260,KSC LC 39A,VLEO,13,12,True,True,True,-80.603956,28.608058,True ASDS,NaN,NaN,1
157,175,2022-07-21,NaN,Falcon 9,NaN,NaN,13260,VAFB SLC 4E,VLEO,4,3,True,True,True,-120.610829,34.632093,True ASDS,NaN,NaN,1
160,178,2022-08-09,NaN,Falcon 9,NaN,NaN,13260,KSC LC 39A,VLEO,3,2,True,True,True,-80.603956,28.608058,True ASDS,NaN,NaN,1
165,185,2022-09-17,NaN,Falcon 9,NaN,NaN,13260,CCSFS SLC 40,VLEO,6,5,True,True,True,-80.577366,28.561857,True ASDS,NaN,NaN,1

In [32]:
combined_df[combined_df['Date'] == '2022-07-21']

,FlightNumber_x,Date,Customer,BoosterVersion,Version Booster,Payload,PayloadMass,LaunchSite,Orbit,Flights,ReusedCount,Reused,GridFins,Legs,Longitude,Latitude,Outcome,Booster landing,Class_verification,Class
157,175,2022-07-21,NaN,Falcon 9,NaN,NaN,13260,VAFB SLC 4E,VLEO,4,3,True,True,True,-120.610829,34.632093,True ASDS,NaN,NaN,1

In [33]:
combined_df[combined_df['Customer'].isnull()]

,FlightNumber_x,Date,Customer,BoosterVersion,Version Booster,Payload,PayloadMass,LaunchSite,Orbit,Flights,ReusedCount,Reused,GridFins,Legs,Longitude,Latitude,Outcome,Booster landing,Class_verification,Class
14,23,2015-04-27,NaN,Falcon 9,F9 v1.1B1016,TÃ¼rkmenÃ„lem 52Â°E / MonacoSAT,4707,CCSFS SLC 40,GTO,1,0,False,False,False,-80.577366,28.561857,None None,No attempt,0.0,0
24,34,2016-09-01,NaN,Falcon 9,NaN,NaN,5500,CCSFS SLC 40,GTO,1,0,False,True,True,-80.577366,28.561857,None ASDS,NaN,NaN,0
121,139,2021-12-01,NaN,Falcon 9,NaN,NaN,13260,CCSFS SLC 40,PO,9,12,True,True,True,-80.577366,28.561857,True ASDS,NaN,NaN,1
149,167,2022-06-01,NaN,Falcon 9,NaN,NaN,13260,KSC LC 39A,VLEO,13,12,True,True,True,-80.603956,28.608058,True ASDS,NaN,NaN,1
157,175,2022-07-21,NaN,Falcon 9,NaN,NaN,13260,VAFB SLC 4E,VLEO,4,3,True,True,True,-120.610829,34.632093,True ASDS,NaN,NaN,1
160,178,2022-08-09,NaN,Falcon 9,NaN,NaN,13260,KSC LC 39A,VLEO,3,2,True,True,True,-80.603956,28.608058,True ASDS,NaN,NaN,1
165,185,2022-09-17,NaN,Falcon 9,NaN,NaN,13260,CCSFS SLC 40,VLEO,6,5,True,True,True,-80.577366,28.561857,True ASDS,NaN,NaN,1

In [34]:
#manually input customers that are Nan, 2022-06-01 was not found
combined_df.loc[14,'Customer'] = "Turkmenistan National Space Agency"
combined_df.loc[121,'Customer'] = "SpaceX"
combined_df.loc[157,'Customer'] = "SpaceX"
combined_df.loc[160,'Customer'] = "SpaceX"
combined_df.loc[165,'Customer'] = "SpaceX"

In [35]:
#manually input class verifications that are Nan, 2022-06-01 was not found in official record
combined_df.loc[24,'Class_verification'] = 0
combined_df.loc[121,'Class_verification'] = 1
combined_df.loc[157,'Class_verification'] = 1
combined_df.loc[160,'Class_verification'] = 1
combined_df.loc[165,'Class_verification'] = 1

In [36]:
#handle the 2016-09-01 prelaunch explosion datapoint with care
combined_df.loc[24,'Payload'] = 'Amos-6 (Eutelsat/Facebook Internet Satelite)'
combined_df.loc[24,'Customer'] = 'Spacecom Ltd (Israel)'
combined_df.loc[24,'Version Booster'] = 'F9 FT B1028' #wikipage info
combined_df.loc[24,'Booster landing'] = 'Prelaunch explosion Failure'

In [37]:
combined_df['Payload'].unique()

array(['Dragon Spacecraft Qualification Unit',
       'SpaceX COTS Demo Flight 2', 'SpaceX CRS-2', 'CASSIOPE', 'SES-8',
       'Thaicom 6', 'SpaceX CRS-3', 'Orbcomm-OG2', 'AsiaSat 8',
       'AsiaSat 6', 'SpaceX CRS-4', 'SpaceX CRS-5', 'DSCOVR',
       'SpaceX CRS-6', 'TÃ¼rkmenÃ„lem 52Â°E / MonacoSAT', 'SpaceX CRS-7',
       'Jason-3', 'SES-9', 'SpaceX CRS-8', 'JCSAT-14', 'Thaicom 8',
       'SpaceX CRS-9', 'JCSAT-16',
       'Amos-6 (Eutelsat/Facebook Internet Satelite)', 'Iridium NEXT',
       'SpaceX CRS-10', 'EchoStar 23', 'SES-10', 'NROL-76',
       'Inmarsat-5 F4', 'SpaceX CRS-11', 'BulgariaSat-1', 'Intelsat 35e',
       'SpaceX CRS-12', 'Formosat-5', 'Boeing X-37B', 'SES-11',
       'Koreasat 5A', 'SpaceX CRS-13', 'Zuma', 'GovSat-1',
       'Hispasat 30W-6', 'SpaceX CRS-14',
       'Transiting Exoplanet Survey Satellite', 'Bangabandhu-1', 'SES-12',
       'SpaceX CRS-15', 'Telstar 19V', 'Merah Putih', 'Telstar 18V',
       'SAOCOM 1A', "Es'hail 2", 'SSO-A', 'SpaceX CRS-16', 'GPS III',
       'Crew Dragon Demo-1', 'SpaceX CRS-17', 'Starlink',
       'RADARSAT Constellation', 'SpaceX CRS-18', 'AMOS-17',
       'SpaceX CRS-19', 'JCSat-18', 'Crew Dragon in-flight abort test',
       'SpaceX CRS-20', 'Crew Dragon Demo-2', 'ANASIS-II', 'SAOCOM 1B',
       'Crew-1', 'Sentinel-6 Michael Freilich (Jason-CS A)',
       'SpaceX CRS-21', 'SXM-7', 'NROL-108', 'TÃ¼rksat 5A', nan, 'Crew-2',
       'SpaceX CRS-22', 'SXM-8', 'USA-319', 'SpaceX CRS-23',
       'Inspiration4', 'Crew-3',
       'Double Asteroid Redirection Test (DART)',
       'Imaging X-ray Polarimetry Explorer', 'TÃ¼rksat 5B',
       'SpaceX CRS-24', 'CSG-2', 'NROL-87', 'Axiom-1', 'NROL-85',
       'Starlink Group 4-14', 'Crew-4', 'Starlink Group 4-16',
       'Starlink Group 4-17', 'Starlink Group 4-13',
       'Starlink Group 4-15', 'Starlink Group 4-18', 'Nilesat-301',
       'SARah 1', 'Globalstar-2 M087 (FM15)', 'SES-22',
       'Starlink Group 4-21', 'Starlink Group 3-1', 'SpaceX CRS-25',
       'Starlink Group 4-22', 'Starlink Group 4-25',
       'Danuri (Korea Pathfinder Lunar Orbiter)', 'Starlink Group 3-3',
       'Starlink Group 4-27', 'Starlink Group 4-23', 'Starlink Group 3-4',
       'Starlink Group 4-35', 'Crew-5', 'Starlink Group 4-29'],
      dtype=object)

In [38]:
combined_df[combined_df['Version Booster'].isnull()]

,FlightNumber_x,Date,Customer,BoosterVersion,Version Booster,Payload,PayloadMass,LaunchSite,Orbit,Flights,ReusedCount,Reused,GridFins,Legs,Longitude,Latitude,Outcome,Booster landing,Class_verification,Class
121,139,2021-12-01,SpaceX,Falcon 9,NaN,NaN,13260,CCSFS SLC 40,PO,9,12,True,True,True,-80.577366,28.561857,True ASDS,NaN,1.0,1
149,167,2022-06-01,NaN,Falcon 9,NaN,NaN,13260,KSC LC 39A,VLEO,13,12,True,True,True,-80.603956,28.608058,True ASDS,NaN,NaN,1
157,175,2022-07-21,SpaceX,Falcon 9,NaN,NaN,13260,VAFB SLC 4E,VLEO,4,3,True,True,True,-120.610829,34.632093,True ASDS,NaN,1.0,1
160,178,2022-08-09,SpaceX,Falcon 9,NaN,NaN,13260,KSC LC 39A,VLEO,3,2,True,True,True,-80.603956,28.608058,True ASDS,NaN,1.0,1
165,185,2022-09-17,SpaceX,Falcon 9,NaN,NaN,13260,CCSFS SLC 40,VLEO,6,5,True,True,True,-80.577366,28.561857,True ASDS,NaN,1.0,1

In [39]:
#combined_df['Payload'].replace(np.nan, "Unknown", inplace=True)

In [40]:
combined_df[combined_df['Class_verification'].isnull()]
#combined_df[combined_df['Date'] == '2022-06-01']

,FlightNumber_x,Date,Customer,BoosterVersion,Version Booster,Payload,PayloadMass,LaunchSite,Orbit,Flights,ReusedCount,Reused,GridFins,Legs,Longitude,Latitude,Outcome,Booster landing,Class_verification,Class
149,167,2022-06-01,NaN,Falcon 9,NaN,NaN,13260,KSC LC 39A,VLEO,13,12,True,True,True,-80.603956,28.608058,True ASDS,NaN,NaN,1

In [41]:
#drop row because it is not verifiable
combined_df.drop(149, inplace=True)

C:\Users\infop\AppData\Local\Temp\ipykernel_60196\279640131.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df.drop(149, inplace=True)

In [42]:
combined_df[combined_df['Class_verification'].isnull()]

Empty DataFrame
Columns: [FlightNumber_x, Date, Customer, BoosterVersion, Version Booster, Payload, PayloadMass, LaunchSite, Orbit, Flights, ReusedCount, Reused, GridFins, Legs, Longitude, Latitude, Outcome, Booster landing, Class_verification, Class]
Index: []

In [43]:
combined_df

,FlightNumber_x,Date,Customer,BoosterVersion,Version Booster,Payload,PayloadMass,LaunchSite,Orbit,Flights,ReusedCount,Reused,GridFins,Legs,Longitude,Latitude,Outcome,Booster landing,Class_verification,Class
0,6,2010-06-04,SpaceX,Falcon 9,F9 v1.0,Dragon Spacecraft Qualification Unit,8191,CCSFS SLC 40,LEO,1,0,False,False,False,-80.577366,28.561857,None None,Failure,0.0,0
1,8,2012-05-22,NASA,Falcon 9,F9 v1.0,SpaceX COTS Demo Flight 2,525,CCSFS SLC 40,LEO,1,0,False,False,False,-80.577366,28.561857,None None,No attempt\n,0.0,0
2,10,2013-03-01,NASA,Falcon 9,F9 v1.0,SpaceX CRS-2,677,CCSFS SLC 40,ISS,1,0,False,False,False,-80.577366,28.561857,None None,No attempt\n,0.0,0
3,11,2013-09-29,MDA,Falcon 9,F9 v1.1,CASSIOPE,500,VAFB SLC 4E,PO,1,0,False,False,False,-120.610829,34.632093,False Ocean,Uncontrolled,0.0,0
4,12,2013-12-03,SES,Falcon 9,F9 v1.1,SES-8,3170,CCSFS SLC 40,GTO,1,0,False,False,False,-80.577366,28.561857,None None,No attempt,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,182,2022-08-31,SpaceX,Falcon 9,F9 B5,Starlink Group 3-4,13260,VAFB SLC 4E,VLEO,7,6,True,True,True,-120.610829,34.632093,True ASDS,Success,1.0,1
165,185,2022-09-17,SpaceX,Falcon 9,NaN,NaN,13260,CCSFS SLC 40,VLEO,6,5,True,True,True,-80.577366,28.561857,True ASDS,NaN,1.0,1
166,186,2022-09-24,SpaceX,Falcon 9,F9 B5B1073.4,Starlink Group 4-35,13260,CCSFS SLC 40,VLEO,4,0,True,True,True,-80.577366,28.561857,True ASDS,Success,1.0,1
167,187,2022-10-05,NASA,Falcon 9,F9 B5,Crew-5,8191,KSC LC 39A,ISS,1,0,False,True,True,-80.603956,28.608058,True ASDS,Success,1.0,1
168,187,2022-10-05,SpaceX,Falcon 9,F9 B5,Starlink Group 4-29,8191,KSC LC 39A,ISS,1,0,False,True,True,-80.603956,28.608058,True ASDS,Success,1.0,1

In [44]:
combined_df["Class"].mean()

0.8154761904761905

In [45]:
def parse_datetime(x):
    return datetime.datetime.strptime(x, "%Y-%m-%d")

In [46]:
combined_df['Date'] = combined_df['Date'].apply(lambda x: parse_datetime(x))

C:\Users\infop\AppData\Local\Temp\ipykernel_60196\2500423651.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['Date'] = combined_df['Date'].apply(lambda x: parse_datetime(x))

In [47]:
combined_df['LaunchSite'].unique()

array(['CCSFS SLC 40', 'VAFB SLC 4E', 'KSC LC 39A'], dtype=object)

In [48]:
combined_df['Orbit'].unique()

array(['LEO', 'ISS', 'PO', 'GTO', 'ES-L1', 'SSO', 'HEO', 'MEO', 'VLEO',
       'SO', 'GEO', 'TLI'], dtype=object)

In [49]:
unverifiable_df = combined_df[combined_df['Class'] != combined_df['Class_verification']]
print(len(unverifiable_df))
unverifiable_df
#there is one row that the class was correct after verification check

5

,FlightNumber_x,Date,Customer,BoosterVersion,Version Booster,Payload,PayloadMass,LaunchSite,Orbit,Flights,ReusedCount,Reused,GridFins,Legs,Longitude,Latitude,Outcome,Booster landing,Class_verification,Class
6,14,2014-04-18,NASA,Falcon 9,F9 v1.1,SpaceX CRS-3,2296,CCSFS SLC 40,ISS,1,0,False,False,True,-80.577366,28.561857,True Ocean,Controlled,0.0,1
7,15,2014-07-14,Orbcomm,Falcon 9,F9 v1.1,Orbcomm-OG2,1316,CCSFS SLC 40,LEO,1,0,False,False,True,-80.577366,28.561857,True Ocean,Controlled,0.0,1
12,20,2015-02-11,USAF,Falcon 9,F9 v1.1B1013,DSCOVR,570,CCSFS SLC 40,ES-L1,1,0,False,True,True,-80.577366,28.561857,True Ocean,Controlled,0.0,1
42,52,2017-12-23,Iridium Communications,Falcon 9,F9 FTB1036.2,Iridium NEXT,9600,VAFB SLC 4E,PO,2,1,True,True,False,-120.610829,34.632093,True Ocean,Controlled,0.0,1
44,54,2018-01-31,SES,Falcon 9,F9 FTB1032.2,GovSat-1,4230,CCSFS SLC 40,GTO,2,1,True,True,True,-80.577366,28.561857,True Ocean,Controlled,0.0,1

In [50]:
#checked all of these for verification and discovered 4 out of the 5 not matching were actaully misclassified by SpaceX
combined_df.loc[6,'Class'] = 0
combined_df.loc[7,'Class'] = 0
combined_df.loc[12,'Class'] = 0
combined_df.loc[42,'Class'] = 0

combined_df.loc[6,'Outcome'] = "False Ocean"
combined_df.loc[7,'Outcome'] = "False Ocean"
combined_df.loc[12,'Outcome'] = "False Ocean"
combined_df.loc[42,'Outcome'] = "False Ocean"

In [51]:
combined_df['Failure'] = combined_df['Class'].apply(lambda x: 1 if x == 0 else 0)
combined_df

C:\Users\infop\AppData\Local\Temp\ipykernel_60196\4104474996.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['Failure'] = combined_df['Class'].apply(lambda x: 1 if x == 0 else 0)

,FlightNumber_x,Date,Customer,BoosterVersion,Version Booster,Payload,PayloadMass,LaunchSite,Orbit,Flights,...,Reused,GridFins,Legs,Longitude,Latitude,Outcome,Booster landing,Class_verification,Class,Failure
0,6,2010-06-04,SpaceX,Falcon 9,F9 v1.0,Dragon Spacecraft Qualification Unit,8191,CCSFS SLC 40,LEO,1,...,False,False,False,-80.577366,28.561857,None None,Failure,0.0,0,1
1,8,2012-05-22,NASA,Falcon 9,F9 v1.0,SpaceX COTS Demo Flight 2,525,CCSFS SLC 40,LEO,1,...,False,False,False,-80.577366,28.561857,None None,No attempt\n,0.0,0,1
2,10,2013-03-01,NASA,Falcon 9,F9 v1.0,SpaceX CRS-2,677,CCSFS SLC 40,ISS,1,...,False,False,False,-80.577366,28.561857,None None,No attempt\n,0.0,0,1
3,11,2013-09-29,MDA,Falcon 9,F9 v1.1,CASSIOPE,500,VAFB SLC 4E,PO,1,...,False,False,False,-120.610829,34.632093,False Ocean,Uncontrolled,0.0,0,1
4,12,2013-12-03,SES,Falcon 9,F9 v1.1,SES-8,3170,CCSFS SLC 40,GTO,1,...,False,False,False,-80.577366,28.561857,None None,No attempt,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,182,2022-08-31,SpaceX,Falcon 9,F9 B5,Starlink Group 3-4,13260,VAFB SLC 4E,VLEO,7,...,True,True,True,-120.610829,34.632093,True ASDS,Success,1.0,1,0
165,185,2022-09-17,SpaceX,Falcon 9,NaN,NaN,13260,CCSFS SLC 40,VLEO,6,...,True,True,True,-80.577366,28.561857,True ASDS,NaN,1.0,1,0
166,186,2022-09-24,SpaceX,Falcon 9,F9 B5B1073.4,Starlink Group 4-35,13260,CCSFS SLC 40,VLEO,4,...,True,True,True,-80.577366,28.561857,True ASDS,Success,1.0,1,0
167,187,2022-10-05,NASA,Falcon 9,F9 B5,Crew-5,8191,KSC LC 39A,ISS,1,...,False,True,True,-80.603956,28.608058,True ASDS,Success,1.0,1,0
168,187,2022-10-05,SpaceX,Falcon 9,F9 B5,Starlink Group 4-29,8191,KSC LC 39A,ISS,1,...,False,True,True,-80.603956,28.608058,True ASDS,Success,1.0,1,0

In [52]:
combined_df.isnull().sum()

FlightNumber_x        0
Date                  0
Customer              0
BoosterVersion        0
Version Booster       4
Payload               9
PayloadMass           0
LaunchSite            0
Orbit                 0
Flights               0
ReusedCount           0
Reused                0
GridFins              0
Legs                  0
Longitude             0
Latitude              0
Outcome               0
Booster landing       4
Class_verification    0
Class                 0
Failure               0
dtype: int64

In [53]:
combined_df['Outcome'].value_counts()

True ASDS      109
True RTLS       23
None None       19
False ASDS       7
False Ocean      6
None ASDS        2
True Ocean       1
False RTLS       1
Name: Outcome, dtype: int64

In [54]:
#finally rename the columns to allow for smoother SQL queries
combined_df.rename(columns={"FlightNumber_x": "FlightNumber", "BoosterVersion": "Booster", "Version Booster": "Version_Booster", "Booster landing": "Booster_Landing"}, inplace=True)

C:\Users\infop\AppData\Local\Temp\ipykernel_60196\3214430973.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df.rename(columns={"FlightNumber_x": "FlightNumber", "BoosterVersion": "Booster", "Version Booster": "Version_Booster", "Booster landing": "Booster_Landing"}, inplace=True)

In [55]:
combined_df

,FlightNumber,Date,Customer,Booster,Version_Booster,Payload,PayloadMass,LaunchSite,Orbit,Flights,...,Reused,GridFins,Legs,Longitude,Latitude,Outcome,Booster_Landing,Class_verification,Class,Failure
0,6,2010-06-04,SpaceX,Falcon 9,F9 v1.0,Dragon Spacecraft Qualification Unit,8191,CCSFS SLC 40,LEO,1,...,False,False,False,-80.577366,28.561857,None None,Failure,0.0,0,1
1,8,2012-05-22,NASA,Falcon 9,F9 v1.0,SpaceX COTS Demo Flight 2,525,CCSFS SLC 40,LEO,1,...,False,False,False,-80.577366,28.561857,None None,No attempt\n,0.0,0,1
2,10,2013-03-01,NASA,Falcon 9,F9 v1.0,SpaceX CRS-2,677,CCSFS SLC 40,ISS,1,...,False,False,False,-80.577366,28.561857,None None,No attempt\n,0.0,0,1
3,11,2013-09-29,MDA,Falcon 9,F9 v1.1,CASSIOPE,500,VAFB SLC 4E,PO,1,...,False,False,False,-120.610829,34.632093,False Ocean,Uncontrolled,0.0,0,1
4,12,2013-12-03,SES,Falcon 9,F9 v1.1,SES-8,3170,CCSFS SLC 40,GTO,1,...,False,False,False,-80.577366,28.561857,None None,No attempt,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,182,2022-08-31,SpaceX,Falcon 9,F9 B5,Starlink Group 3-4,13260,VAFB SLC 4E,VLEO,7,...,True,True,True,-120.610829,34.632093,True ASDS,Success,1.0,1,0
165,185,2022-09-17,SpaceX,Falcon 9,NaN,NaN,13260,CCSFS SLC 40,VLEO,6,...,True,True,True,-80.577366,28.561857,True ASDS,NaN,1.0,1,0
166,186,2022-09-24,SpaceX,Falcon 9,F9 B5B1073.4,Starlink Group 4-35,13260,CCSFS SLC 40,VLEO,4,...,True,True,True,-80.577366,28.561857,True ASDS,Success,1.0,1,0
167,187,2022-10-05,NASA,Falcon 9,F9 B5,Crew-5,8191,KSC LC 39A,ISS,1,...,False,True,True,-80.603956,28.608058,True ASDS,Success,1.0,1,0
168,187,2022-10-05,SpaceX,Falcon 9,F9 B5,Starlink Group 4-29,8191,KSC LC 39A,ISS,1,...,False,True,True,-80.603956,28.608058,True ASDS,Success,1.0,1,0

In [56]:
combined_df['Outcome'].unique()

array(['None None', 'False Ocean', 'False ASDS', 'None ASDS', 'True RTLS',
       'True ASDS', 'True Ocean', 'False RTLS'], dtype=object)

In [57]:
combined_df['Outcome'].value_counts()

True ASDS      109
True RTLS       23
None None       19
False ASDS       7
False Ocean      6
None ASDS        2
True Ocean       1
False RTLS       1
Name: Outcome, dtype: int64

In [58]:
combined_df[combined_df['Outcome'] ==  'None ASDS']

,FlightNumber,Date,Customer,Booster,Version_Booster,Payload,PayloadMass,LaunchSite,Orbit,Flights,...,Reused,GridFins,Legs,Longitude,Latitude,Outcome,Booster_Landing,Class_verification,Class,Failure
15,24,2015-06-28,NASA,Falcon 9,F9 v1.1B1018,SpaceX CRS-7,2477,CCSFS SLC 40,ISS,1,...,False,True,True,-80.577366,28.561857,None ASDS,Precluded,0.0,0,1
24,34,2016-09-01,Spacecom Ltd (Israel),Falcon 9,F9 FT B1028,Amos-6 (Eutelsat/Facebook Internet Satelite),5500,CCSFS SLC 40,GTO,1,...,False,True,True,-80.577366,28.561857,None ASDS,Prelaunch explosion Failure,0.0,0,1

In [59]:
mapping = {'CCSFS SLC 40':'Cape Canaveral', 'KSC LC 39A':'Kennedy Space Center', 'VAFB SLC 4E': 'Vandenberg AF Base'}

combined_df['LaunchSite'] = combined_df['LaunchSite'].map(mapping)

C:\Users\infop\AppData\Local\Temp\ipykernel_60196\4061873128.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['LaunchSite'] = combined_df['LaunchSite'].map(mapping)

In [60]:
mapping = {'True ASDS':'Success (Drone Ship)', 'True RTLS':'Success (Ground Pad)', 'None None':'Failure (None)','False ASDS':'Failure (Drone Ship)', 'True Ocean':'Success (Ocean)', 'False Ocean':'Failure (Ocean)', 'None ASDS':'Failure (Drone Ship)', 'False RTLS': 'Failure (Ground Pad)'}

combined_df['Outcome'] = combined_df['Outcome'].map(mapping)

C:\Users\infop\AppData\Local\Temp\ipykernel_60196\757059212.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['Outcome'] = combined_df['Outcome'].map(mapping)

In [61]:
combined_df['Outcome'].value_counts()

Success (Drone Ship)    109
Success (Ground Pad)     23
Failure (None)           19
Failure (Drone Ship)      9
Failure (Ocean)           6
Success (Ocean)           1
Failure (Ground Pad)      1
Name: Outcome, dtype: int64

In [62]:
combined_df[combined_df['Outcome'] == 'Failure (None)'] #these were all no attempts or misclassified

,FlightNumber,Date,Customer,Booster,Version_Booster,Payload,PayloadMass,LaunchSite,Orbit,Flights,...,Reused,GridFins,Legs,Longitude,Latitude,Outcome,Booster_Landing,Class_verification,Class,Failure
0,6,2010-06-04,SpaceX,Falcon 9,F9 v1.0,Dragon Spacecraft Qualification Unit,8191,Cape Canaveral,LEO,1,...,False,False,False,-80.577366,28.561857,Failure (None),Failure,0.0,0,1
1,8,2012-05-22,NASA,Falcon 9,F9 v1.0,SpaceX COTS Demo Flight 2,525,Cape Canaveral,LEO,1,...,False,False,False,-80.577366,28.561857,Failure (None),No attempt\n,0.0,0,1
2,10,2013-03-01,NASA,Falcon 9,F9 v1.0,SpaceX CRS-2,677,Cape Canaveral,ISS,1,...,False,False,False,-80.577366,28.561857,Failure (None),No attempt\n,0.0,0,1
4,12,2013-12-03,SES,Falcon 9,F9 v1.1,SES-8,3170,Cape Canaveral,GTO,1,...,False,False,False,-80.577366,28.561857,Failure (None),No attempt,0.0,0,1
5,13,2014-01-06,Thaicom,Falcon 9,F9 v1.1,Thaicom 6,3325,Cape Canaveral,GTO,1,...,False,False,False,-80.577366,28.561857,Failure (None),No attempt,0.0,0,1
8,16,2014-08-05,AsiaSat,Falcon 9,F9 v1.1,AsiaSat 8,4535,Cape Canaveral,GTO,1,...,False,False,False,-80.577366,28.561857,Failure (None),No attempt,0.0,0,1
9,17,2014-09-07,AsiaSat,Falcon 9,F9 v1.1B1011,AsiaSat 6,4428,Cape Canaveral,GTO,1,...,False,False,False,-80.577366,28.561857,Failure (None),No attempt\n,0.0,0,1
14,23,2015-04-27,Turkmenistan National Space Agency,Falcon 9,F9 v1.1B1016,TÃ¼rkmenÃ„lem 52Â°E / MonacoSAT,4707,Cape Canaveral,GTO,1,...,False,False,False,-80.577366,28.561857,Failure (None),No attempt,0.0,0,1
27,37,2017-03-16,EchoStar,Falcon 9,F9 FTB1030,EchoStar 23,5600,Kennedy Space Center,GTO,1,...,False,False,False,-80.603956,28.608058,Failure (None),No attempt,0.0,0,1
30,40,2017-05-15,Inmarsat,Falcon 9,F9 FTB1034.1,Inmarsat-5 F4,6070,Kennedy Space Center,GTO,1,...,False,False,False,-80.603956,28.608058,Failure (None),No attempt,0.0,0,1
34,44,2017-07-05,Intelsat,Falcon 9,F9 FTB1037.1,Intelsat 35e,6761,Kennedy Space Center,GTO,1,...,False,False,False,-80.603956,28.608058,Failure (None),No attempt,0.0,0,1
45,57,2018-03-06,Hispasat,Falcon 9,F9 B4B1044.1,Hispasat 30W-6,6092,Cape Canaveral,GTO,1,...,False,True,True,-80.577366,28.561857,Failure (None),Controlled,0.0,0,1
46,58,2018-03-30,Iridium Communications,Falcon 9,F9 B4B1041.2,Iridium NEXT,9600,Vandenberg AF Base,PO,2,...,True,True,True,-120.610829,34.632093,Failure (None),No attempt,0.0,0,1
47,59,2018-04-02,NASA,Falcon 9,F9 B4B1039.2,SpaceX CRS-14,2760,Cape Canaveral,ISS,2,...,True,True,True,-80.577366,28.561857,Failure (None),No attempt,0.0,0,1
50,63,2018-06-04,SES,Falcon 9,F9 B4B1040.2,SES-12,5383,Cape Canaveral,GTO,2,...,True,False,False,-80.577366,28.561857,Failure (None),No attempt,0.0,0,1
51,64,2018-06-29,NASA,Falcon 9,F9 B4B1045.2,SpaceX CRS-15,2410,Cape Canaveral,ISS,2,...,True,False,False,-80.577366,28.561857,Failure (None),No attempt,0.0,0,1
60,73,2018-12-23,USAF,Falcon 9,F9 B5B1054,GPS III,4400,Cape Canaveral,MEO,1,...,False,False,False,-80.577366,28.561857,Failure (None),No attempt,0.0,0,1
67,83,2019-08-06,Spacecom,Falcon 9,F9 B5B1047.3,AMOS-17,6500,Cape Canaveral,GTO,3,...,True,False,False,-80.577366,28.561857,Failure (None),No attempt,0.0,0,1
72,88,2020-01-19,NASA,Falcon 9,F9 B5,Crew Dragon in-flight abort test,8191,Kennedy Space Center,SO,4,...,True,False,False,-80.603956,28.608058,Failure (None),No attempt\n,0.0,0,1

In [63]:
combined_df.isnull().sum()

FlightNumber          0
Date                  0
Customer              0
Booster               0
Version_Booster       4
Payload               9
PayloadMass           0
LaunchSite            0
Orbit                 0
Flights               0
ReusedCount           0
Reused                0
GridFins              0
Legs                  0
Longitude             0
Latitude              0
Outcome               0
Booster_Landing       4
Class_verification    0
Class                 0
Failure               0
dtype: int64

In [64]:
combined_df[combined_df['Version_Booster'].isnull()]

,FlightNumber,Date,Customer,Booster,Version_Booster,Payload,PayloadMass,LaunchSite,Orbit,Flights,...,Reused,GridFins,Legs,Longitude,Latitude,Outcome,Booster_Landing,Class_verification,Class,Failure
121,139,2021-12-01,SpaceX,Falcon 9,NaN,NaN,13260,Cape Canaveral,PO,9,...,True,True,True,-80.577366,28.561857,Success (Drone Ship),NaN,1.0,1,0
157,175,2022-07-21,SpaceX,Falcon 9,NaN,NaN,13260,Vandenberg AF Base,VLEO,4,...,True,True,True,-120.610829,34.632093,Success (Drone Ship),NaN,1.0,1,0
160,178,2022-08-09,SpaceX,Falcon 9,NaN,NaN,13260,Kennedy Space Center,VLEO,3,...,True,True,True,-80.603956,28.608058,Success (Drone Ship),NaN,1.0,1,0
165,185,2022-09-17,SpaceX,Falcon 9,NaN,NaN,13260,Cape Canaveral,VLEO,6,...,True,True,True,-80.577366,28.561857,Success (Drone Ship),NaN,1.0,1,0

In [65]:
combined_df.loc[121,'Version_Booster'] = 'F9 B1060'
combined_df.loc[157,'Version_Booster'] = 'F9 B5'
combined_df.loc[160,'Version_Booster'] = 'F9 B1073.3'
combined_df.loc[165,'Version_Booster'] = 'F9 B1067.6'

In [66]:
combined_df[combined_df['Payload'].isnull()]

,FlightNumber,Date,Customer,Booster,Version_Booster,Payload,PayloadMass,LaunchSite,Orbit,Flights,...,Reused,GridFins,Legs,Longitude,Latitude,Outcome,Booster_Landing,Class_verification,Class,Failure
98,115,2021-01-24,Various,Falcon 9,F9 B5B1058.5,NaN,8191,Cape Canaveral,SSO,5,...,True,True,True,-80.577366,28.561857,Success (Drone Ship),Success,1.0,1,0
114,132,2021-06-30,Various,Falcon 9,F9 B5,NaN,8191,Cape Canaveral,SSO,8,...,True,True,True,-80.577366,28.561857,Success (Ground Pad),Success,1.0,1,0
121,139,2021-12-01,SpaceX,Falcon 9,F9 B1060,NaN,13260,Cape Canaveral,PO,9,...,True,True,True,-80.577366,28.561857,Success (Drone Ship),NaN,1.0,1,0
127,145,2022-01-13,Various,Falcon 9,F9 B5,NaN,8191,Cape Canaveral,LEO,10,...,True,True,True,-80.577366,28.561857,Success (Ground Pad),Success,1.0,1,0
137,155,2022-04-01,Various,Falcon 9,F9 B5,NaN,8191,Cape Canaveral,SSO,7,...,True,True,True,-80.577366,28.561857,Success (Drone Ship),Success,1.0,1,0
147,165,2022-05-25,Various,Falcon 9,F9 B5B1061.8,NaN,8191,Cape Canaveral,SSO,8,...,True,True,True,-80.577366,28.561857,Success (Ground Pad),Success,1.0,1,0
157,175,2022-07-21,SpaceX,Falcon 9,F9 B5,NaN,13260,Vandenberg AF Base,VLEO,4,...,True,True,True,-120.610829,34.632093,Success (Drone Ship),NaN,1.0,1,0
160,178,2022-08-09,SpaceX,Falcon 9,F9 B1073.3,NaN,13260,Kennedy Space Center,VLEO,3,...,True,True,True,-80.603956,28.608058,Success (Drone Ship),NaN,1.0,1,0
165,185,2022-09-17,SpaceX,Falcon 9,F9 B1067.6,NaN,13260,Cape Canaveral,VLEO,6,...,True,True,True,-80.577366,28.561857,Success (Drone Ship),NaN,1.0,1,0

In [67]:
#manually checked and input Payload data that was missing
combined_df.loc[98,'Payload'] = 'Rideshare'
combined_df.loc[114,'Payload'] = 'Rideshare'
combined_df.loc[121,'Payload'] = 'Blacksky Global'
combined_df.loc[127,'Payload'] = 'Rideshare'
combined_df.loc[137,'Payload'] = 'Rideshare'
combined_df.loc[147,'Payload'] = 'Rideshare'
combined_df.loc[157,'Payload'] = 'Starlink'
combined_df.loc[160,'Payload'] = 'Starlink'
combined_df.loc[165,'Payload'] = 'Starlink'

In [68]:
combined_df.isnull().sum()

FlightNumber          0
Date                  0
Customer              0
Booster               0
Version_Booster       0
Payload               0
PayloadMass           0
LaunchSite            0
Orbit                 0
Flights               0
ReusedCount           0
Reused                0
GridFins              0
Legs                  0
Longitude             0
Latitude              0
Outcome               0
Booster_Landing       4
Class_verification    0
Class                 0
Failure               0
dtype: int64

In [69]:
combined_df.dtypes

FlightNumber                   int64
Date                  datetime64[ns]
Customer                      object
Booster                       object
Version_Booster               object
Payload                       object
PayloadMass                    int32
LaunchSite                    object
Orbit                         object
Flights                        int64
ReusedCount                    int64
Reused                          bool
GridFins                        bool
Legs                            bool
Longitude                    float64
Latitude                     float64
Outcome                       object
Booster_Landing               object
Class_verification           float64
Class                          int64
Failure                        int64
dtype: object

In [70]:
combined_df['Reused'] = combined_df['Reused'].apply(lambda x: 1 if x == True else 0)
combined_df['GridFins'] = combined_df['GridFins'].apply(lambda x: 1 if x == True else 0)
combined_df['Legs'] = combined_df['Legs'].apply(lambda x: 1 if x == True else 0)

C:\Users\infop\AppData\Local\Temp\ipykernel_60196\785879669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['Reused'] = combined_df['Reused'].apply(lambda x: 1 if x == True else 0)
C:\Users\infop\AppData\Local\Temp\ipykernel_60196\785879669.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['GridFins'] = combined_df['GridFins'].apply(lambda x: 1 if x == True else 0)
C:\Users\infop\AppData\Local\Temp\ipykernel_60196\785879669.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df['Legs'] = combined_df['Legs'].apply(lambda x: 1 if x == True else 0)

In [71]:
combined_df.shape

(168, 21)

In [72]:
#combined_df.to_csv(r"C:\Users\infop\OneDrive\Desktop\ML_lab screenshots\spacex_final_dataset.csv", index=False)

In [73]:
#2015-06-28 explosion during launch, failure 
#https://www.forbes.com/sites/alexknapp/2015/06/28/with-spacex-rocket-failure-nasas-now-had-three-cargo-failures-from-three-providers/

In [74]:
#2016-09-01 Suspect Prelaunch Explosion which made the Outcome None ASDS, which we quantified as 0 in Class, and 1 in Fail
#payload = Amos-6 (Facebook Satelite)
#Time
#Version_Booster = 
#Booster Landing (None - Pre Launch Explosion)

#https://techcrunch.com/2016/09/01/here-what-we-know-about-the-spacex-explosion/